<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        .row.content {
            height: 450px
        }

        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }

            .row.content {
                height: auto;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">QLTV</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/admin">Home</a></li>
                    <li><a href="/">Manage TV</a></li>
                    <li><a href="./manageInfor">Manage Information</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <div>
                        <form method="POST" action="/logout">
                            <button type="submit" class="btn btn-primary">Log out</button>
                        </form>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <h1 style="align-content:center;">Welcome: Admin
                </h1>
            </div>
            <div class="col-sm-8 text-left">
                <h2>Users List</h2>
                <table class="table table-bordered mt-2">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Geolocation</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="userListTable">
                        <% userList.forEach(user=> { %>
                            <tr>
                                <td>
                                    <%= user.id %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td>
                                    <%= user.role %>
                                </td>
                                <td>latitude: <%=user.latitude %>, longitude: <%=user.longitude %>
                                </td>
                                <td>
                                    <button class="btn-edit btn-action" data-user-id="<%= user.id %>"
                                        data-user-email="<%= user.email %>"
                                        data-user-role="<%= user.role %>">Edit</button>
                                    <button class="btn-delete btn-action" data-user-id="<%= user.id %>"
                                        data-user-email="<%= user.email %>"
                                        data-user-role="<%= user.role %>">Delete</button>
                                    <button type="button" class="btn btn-primary btn-manage" data-toggle="modal"
                                        data-target="#myModal" data-user-id="<%= user.id %>">
                                        Manage
                                    </button>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- Modal for Manage User Data -->
    <div class="modal fade" id="manageUserDataModal" tabindex="-1" role="dialog"
        aria-labelledby="manageUserDataModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="manageUserDataModalLabel">Manage User Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Tabs for different data management options -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="color-tab" data-toggle="tab" href="#color" role="tab"
                                aria-controls="color" aria-selected="true">Color</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="animation-tab" data-toggle="tab" href="#animation" role="tab"
                                aria-controls="animation" aria-selected="false">Animation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="fontsize-tab" data-toggle="tab" href="#fontsize" role="tab"
                                aria-controls="fontsize" aria-selected="false">Font Size</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="data-tab" data-toggle="tab" href="#data" role="tab"
                                aria-controls="data" aria-selected="false">Data</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="color" role="tabpanel" aria-labelledby="color-tab">
                            <!-- Color options here -->
                        </div>
                        <!-- Animation Tab -->
                        <div class="tab-pane fade" id="animation" role="tabpanel" aria-labelledby="animation-tab">
                            <!-- Animation options here -->
                        </div>
                        <!-- Font Size Tab -->
                        <div class="tab-pane fade" id="fontsize" role="tabpanel" aria-labelledby="fontsize-tab">
                            <!-- Font size options here -->
                        </div>
                        <!-- Data Tab -->
                        <div class="tab-pane fade" id="data" role="tabpanel" aria-labelledby="data-tab">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal for Edit User -->
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form to edit user -->
                    <form id="editUserForm" action="" method="POST">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="role">Role:</label>
                            <input type="text" class="form-control" id="role" name="role" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for Delete User Confirmation -->
    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserModalLabel">Confirm Delete User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this user?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form id="deleteUserForm" action="" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function updateUsersList() {
            $.ajax({
                url: "/admin/manageTV/getUsersList",
                method: "GET",
                dataType: "json",
                success: function (data) {
                    var userListTable = $("#userListTable");
                    userListTable.empty();
                    data.forEach(function (user) {
                        var row = `<tr>
                        <td>${user.id}</td>
                        <td>${user.email}</td>
                        <td>${user.role}</td>
                        <td>latitude: ${user.latitude}, longitude: ${user.longitude}</td>
                        <td>
                            <button class="btn-edit btn-action" data-user-id="${user.id}" data-user-email="${user.email}" data-user-role="${user.role}">Edit</button>
                            <button class="btn-delete btn-action" data-user-id="${user.id}" data-user-email="${user.email}" data-user-role="${user.role}">Delete</button>
                            <button type="button" class="btn btn-primary btn-manage" data-toggle="modal"
                                        data-target="#manageUserDataModal" data-user-id="${user.id}">
                                        Manage
                                    </button>
                        </td>
                    </tr>`;
                        userListTable.append(row);
                    });
                },
                error: function (error) {
                    console.error("Error fetching user data:", error);
                }
            });
        }
        $(document).ready(function () {
            // Gọi hàm cập nhật danh sách người dùng mỗi khoảng thời gian
            setInterval(updateUsersList, 1000); // Cập nhật mỗi 1 giây

            // Handle Edit, Delete, Manage button click using event delegation
            $("#userListTable").on("click", ".btn-action", function () {
                var userId = $(this).attr("data-user-id");
                var user = {
                    id: userId,
                    email: $(this).attr("data-user-email"),
                    role: $(this).attr("data-user-role"),
                };
                if ($(this).hasClass("btn-edit")) {
                    // Set form values to display current user data
                    $("#editUserForm").attr("action", "/admin/manageTV/edit/" + user.id);
                    $("#editUserForm input[name='email']").val(user.email);
                    $("#editUserForm input[name='role']").val(user.role);
                    // Show the modal
                    $("#editUserModal").modal("show");
                } else if ($(this).hasClass("btn-delete")) {
                    // Set form action to delete URL and show the modal for confirmation
                    $("#deleteUserForm").attr("action", "/admin/manageTV/delete/" + user.id);
                    $("#deleteUserModal").modal("show");
                } else if ($(this).hasClass("btn-manage")) {
                    // Show the modal for managing user data
                    $("#manageUserDataModal").modal("show");
                }
            });
        });
        //Function Lấy id user
        $("#userListTable").on("click", ".btn-manage", function () {
            const userId = $(this).data("user-id");
            const manageForm = `
             <div>
                 <h3>User: ${userId}</h3>
                 <form id="manageForm${userId}" class="manage-form">
                     <label><input type="checkbox" name="fields" value="giaovien"> Giáo viên</label>
                     <label><input type="checkbox" name="fields" value="baocao"> Báo cáo</label>
                                    <button class="btn-save-changes" data-user-id="${userId}">Send data</button>
                 </form>
             </div>
         `;
            $("#data-tab").tab("show");
            $("#data").html(manageForm);
        });
        const socket = io.connect('http://localhost:8000');
        $("#manageUserDataModal").on("click", ".btn-save-changes", function () {
            var userId = $(this).data("user-id");
            var selectedFields = [];
            $("#manageUserDataModal input[name='fields']:checked").each(function () {
                selectedFields.push($(this).val());
            });
            socket.emit("updateUserData", { userId: userId, selectedFields: selectedFields });
            $("#manageUserDataModal").modal("hide");
        });


    </script>
</body>

</html>